@charset "UTF-8";
/* 폰트 */
/* 노토 산스 kr */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans+KR:wght@100..900&display=swap");
/* 나눔고딕 */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&display=swap");
/* 안톤  */
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
:root {
  /* 텍스트크기 */
  --text_size12:12px;
  --text_size16:16px;
  --text-size20:20px;
  /* 폰트 */
  --text_style:"Noto Sans KR";
  --title_text_style:"Anton";
  /* 컬러 */
  --main_color1:#ED1C24;
  --main_color2:#fff;
  --sub_color1:#C6A86B;
  --sub_color2:#c0c0c0;
  --text_color:#333;
}
@media (min-width:1025px){
  .mobile_top{display: none;}

  .category {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
.special_screen {
  position: relative;
  width: 100%;
  min-height: auto;
  margin: 0 auto;
}
.special_screen h3 {
  display: none;
}
.special_screen h4 {
  font-size: 30px;
}
.special_screen img{
  display: block;
  width: 100%;
  height: auto;
}
.special_screen article {
  position: relative;
}
.special_screen article .scr {
  width: 800px;
  color: var(--main_color2);
  height: 1073px;
  position: absolute;
  background: rgba(51, 51, 51, 0.4);
  line-height: 30px;
  transform: translateX(100%);
  transition: all 0.8s ease-in-out;
}
.special_screen article .scr span {
  font-size: 20px;
}
.special_screen .special_2 .scr, .special_screen .special_4 .scr {
  transform: translateX(-100%);
}
.special_screen .scr.special_act {
  transform: translateX(0);
}
.special_screen .special_1 {
  background: url(../images/special/special/special1.png);
  height: 1072px;
  width: 100%;
}
.special_screen .special_1 .screen_1 {
  top: 0px;
  right: 0px;
  border-radius: 10px 0px 0px 10px;
  padding-left: 30px;
}
.special_screen .special_1 .screen_1 h4 {
  margin: 200px 0px 100px 0px;
}
.special_screen .special_1 .screen_1 span {
  padding-bottom: 20px;
}
.special_screen .special_1 .screen_1 p {
  font-size: 14px;
  width: 300px;
  text-align: left;
}
.special_screen .special_2 {
  background: url(../images/special/special/special2.png);
  height: 1072px;
}
.special_screen .special_2 .screen_2 {
  top: 0px;
  border-radius: 0px 10px 10px 0px;
  text-align: right;
  padding-right: 30px;
}
.special_screen .special_2 .screen_2 h4 {
  margin: 200px 0px 100px 0px;
}
.special_screen .special_2 .screen_2 p {
  font-size: 14px;
  width: 300px;
  float: right;
  text-align: left;
}
.special_screen .special_3 {
  background: url(../images/special/special/special3.png);
  height: 1072px;
}
.special_screen .special_3 .screen_3 {
  top: 0px;
  right: 0px;
  border-radius: 10px 0px 0px 10px;
  padding-left: 30px;
}
.special_screen .special_3 .screen_3 h4 {
  margin: 200px 0px 100px 0px;
}
.special_screen .special_3 .screen_3 span {
  padding-bottom: 20px;
}
.special_screen .special_3 .screen_3 p {
  font-size: 14px;
  width: 300px;
  text-align: left;
}
.special_screen .special_4 {
  background: url(../images/special/special/special4.png);
  height: 1072px;
}
.special_screen .special_4 .screen_4 {
  top: 0px;
  left: 0px;
  border-radius: 0px 10px 10px 0px;
  text-align: right;
  padding-right: 30px;
}
.special_screen .special_4 .screen_4 h4 {
  margin: 200px 0px 100px 0px;
}
.special_screen .special_4 .screen_4 p {
  font-size: 14px;
  width: 300px;
  float: right;
  text-align: left;
}
.special_info{display: none;}
}

/* 태블릿 해상도 */
@media (max-width:1024px) and (min-width:768px){

  .special_screen .special_1 {background: url(../images/special/special/special1.png);
  }

  .special_screen .special_2 {background: url(../images/special/special/special2.png);
}

  .special_screen .special_3 {background: url(../images/special/special/special3.png);
}

  .special_screen .special_4 {background: url(../images/special/special/special4.png);
}

.special_screen .special_1,
.special_screen .special_2,
.special_screen .special_3,
.special_screen .special_4 {
  background-size:cover;
  background-position: top center;
  background-repeat:no-repeat;
  width: 100%; height: 500px;
}
.scr{color:#fff;}
.scr > h4{font-size: 1.25rem;}
.scr span{font-size: 0.875rem;}
.scr .screen_info{font-size: 0.75rem; width: 9.375rem;}
.scr-right{float: right; transform: translateY(250px); padding-right:1.875rem;}
}
.scr-left{transform: translateY(200px); padding-left: 1.875rem;}
.special_info{width: 4.375rem;
padding: 0.5rem;
background: #fff;
text-align: center;
border-radius: 50px;
transform: translateY(10px);
}
.special_info a{text-decoration: underline;}
.special_info a:hover{color:#333; }

/* 모바일 해상도 */
@media (max-width:767px){
  #pc_footer{display: none;}
  html, body {
    overflow-x: hidden;
  }

  .special_screen{
    margin-top: 64px;
    background-size:cover;
    background-position:top center;
    background-repeat: no-repeat;
  }  

  .special_screen h4{
    font-size: 1.25rem;
    color: #fff;
  }
  span{color:#fff;}
  .scr .screen_info{display: none;}
  .special_info{
    width: fit-content;
    width: 4.375rem;
    padding: 5px 15px;
    background: rgb(255,255,255);
    text-align: center;
    color: #fff;
    border-radius: 50px;
    font-size: 0.875rem;
  }
  .special_info a{
    text-decoration: underline;
    font-weight: bold;
    color: #333;

  }
  .special_screen h3{
    display: none;
  }


  .special_screen .scr{
    width: 100%;
    padding: 20px 0px;
    transform: none;
    box-sizing: border-box;
  }

  .special_screen .special_1 {
    background: url(../images/special/special/m_special1.png);
  }

  .special_screen .special_2 {
    background: url(../images/special/special/m_special2.png);

  }
  .special_screen .special_3 {
    background: url(../images/special/special/m_special3.png);

  }
  .special_screen .special_4 {
    background: url(../images/special/special/m_special4.png);

  }

.special_screen .special_1,
.special_screen .special_2,
.special_screen .special_3,
.special_screen .special_4 {
  background-size:cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 270px;
  width: 100%;
}
.scr-right{position: relative; bottom: -40%; right: -70%;}
.scr-left{position: relative; bottom:-40%; left: 3%;}
}
